[Desktop Entry]
Comment=Lightweight Wownero Wallet
Exec=wowlet
GenericName[en_US]=Wownero Wallet
GenericName=Wownero Wallet
Icon=wowlet
Name[en_US]=WOWlet
Name=WOWlet
Categories=Finance;Network;
StartupNotify=false
StartupWMClass=wowlet
Terminal=false
Type=Application
MimeType=x-scheme-handler/wownero;
