[Desktop Entry]
Comment=Lightweight Wownero Wallet
Exec=wowllet
GenericName[en_US]=Wownero Wallet
GenericName=Wownero Wallet
Icon=wowllet
Name[en_US]=WOWllet
Name=WOWllet
Categories=Finance;Network;
StartupNotify=false
StartupWMClass=feather
Terminal=false
Type=Application
MimeType=x-scheme-handler/wownero;
